node_modules
packages/**/node_modules/**/*
packages/cli/src
packages/cli-babel/src
packages/cli-generator/src
packages/cli-service/src
packages/cli-service-react/src
packages/cli-service-vue/src
packages/test
packages/test-service